app-tab {
  display: flex;
  flex-shrink: 0;
  width: 200px;
  height: 100px;
  flex-direction: column;
  padding: var(--gap-md);
  border-radius: var(--border-radius);
  box-shadow: var(--tab-shadow);
}
