app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--bar-size-md);
    padding: 0 calc(var(--gap-lg) - var(--button-gap));
    background-color: var(--color-neutral-0);
    box-shadow: var(--header-shadow);

    cmp-button {
      --button-size: var(--bar-size-md);
      --button-radius: 0;
      --button-text-transform: none;

      &.nav__active {
        box-shadow: inset 0 -2px 0 0 var(--color-primary-500);
      }
    }
  }

  main {
    padding: var(--main-gap);
  }

  aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: white;
    padding: calc(var(--bar-size-md) + var(--gap-md)) var(--gap-md) var(--gap-md);
    box-shadow: var(--header-shadow);

    cmp-browser-tab-list {
      margin: calc(-1 * var(--gap-md));
    }
  }
}
