<header>
  <section *ngIf="(workspacesQuery.selectAll() | async) as workspaces">
    <nav>
      <cmp-button
        *ngFor="let workspace of workspaces"
        [routerLink]="['workspaces', workspace.id]"
        routerLinkActive="nav__active"
        [routerLinkActiveOptions]="{exact: true}"
      >{{workspace.name}}
      </cmp-button>
      <cmp-button>+</cmp-button>
    </nav>
  </section>
  <section>
    <cmp-button>user</cmp-button>
  </section>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<aside *ngIf="(browserTabsQuery.selectAll() | async) as browserTabs">
  <h3>Open Tabs</h3>
  <cmp-browser-tab-list [tabs]="browserTabs" (remove)="onRemoveTab($event)"></cmp-browser-tab-list>
</aside>
