app-tab {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--gap-md);
  margin: var(--gap-sm);
  border-radius: var(--border-radius);
  box-shadow: var(--tab-shadow);

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}
